.container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/*INFO: HOW TO CREATE TAILWIND-LIKE TEXTS*/
.title {
  font-size: 72px;
  background: linear-gradient(to top, #5D74FB, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  /*INFO: IT WILL FIT INTO ITS PARENT!*/
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}

/*INFO: HWO TO CREATE ANIMATIONS IN CSS
Meaning: 
1. start from up, go down 15 px
2. when going down, make image 1.03 times bigger.

*/
@keyframes move {
  from{
      transform: translateY(-10px);
  }
  to{
    transform: translateY(10px);
  }
}


.desc{
  font-size: 24px;
  font-weight: 300;
}

.button{
  padding: 20px;
  font-weight: 400;
  cursor: pointer;
  background-color: #5D74FB;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}