.container {}

.catTitle{
    color:#5D74FB;
}

.item{
    display:flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*
    INFO: IF THE CHILD DIRECTION IS EVEN NUMBER
    OVERRIDE THE FLEX DIRECTION!
*/

.item:nth-child(2n) {
   flex-direction: row-reverse; 
}


.imgContainer{
    flex:1;
    height: 500px;
    position: relative;
}

.img{
    object-fit: contain;
}

.content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}